uats-libgdx-desktop/assets/mini2dx-ui.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://github.com/mini2Dx/mini2Dx"
            xmlns="https://github.com/mini2Dx/mini2Dx"
            elementFormDefault="qualified">

    <xsd:element name="tab-view">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.TabView"/>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="tab">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="parent-ui-element">
                                        <xsd:attribute name="title" type="xsd:string"/>
                                        <xsd:attribute name="icon-path" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="layout" type="xsd:string"/>
                    <xsd:attribute name="overflow-clipped" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="tab-button-layout" type="xsd:string"
                                   default="flex-column:xs-3c sm-4c md-2c lg-2c"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="button">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Button"/>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="div-base">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="container">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Container"/>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="div-base">
                    <xsd:attribute name="id" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="scroll-box">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.ScrollBox"/>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="div-base">
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="scroll-factor" type="xsd:float"/>
                    <xsd:attribute name="min-height" type="xsd:float"/>
                    <xsd:attribute name="max-height" type="xsd:float"/>
                    <xsd:attribute name="scroll-track-visibility" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="animated-image">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.AnimatedImage"/>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:choice minOccurs="2" maxOccurs="unbounded">
                        <xsd:element name="texture">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="duration" type="xsd:float" use="required"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>

                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="flip-x" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="flip-y" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="atlas" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="div">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Div"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="div-base">
                    <xsd:attribute name="id" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="flex-row">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.FlexRow"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="div-base">
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="flex-direction" type="flexDirection" default="COLUMN"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="select">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Select"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:sequence>
                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="option">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="value" type="xsd:string"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:sequence>

                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="enabled" type="xsd:boolean"/>
                    <xsd:attribute name="layout" type="xsd:string" default="flex-column:xs-12c"/>
                    <xsd:attribute name="left-button-text" type="xsd:string"/>
                    <xsd:attribute name="right-button-text" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="slider">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Slider"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="value" type="zeroToOneFloat"/>
                    <xsd:attribute name="value-step" type="xsd:float"/>
                    <xsd:attribute name="changed-on-begin-event" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="radio-button">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.RadioButton"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:sequence>
                        <xsd:choice minOccurs="2" maxOccurs="unbounded">
                            <xsd:element name="option"/>
                        </xsd:choice>
                    </xsd:sequence>

                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="flex-direction" type="flexDirection" default="ROW"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="default-selected-index" type="xsd:integer" default="0"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="progress-bar">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.ProgressBar"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="layout" type="xsd:string" default="flex-column:xs-12c"/>
                    <xsd:attribute name="min" type="xsd:integer" default="0"/>
                    <xsd:attribute name="max" type="xsd:integer" default="1"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="check-box">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.CheckBox"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="checked" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="text-button">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.TextButton"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="text" type="xsd:string" use="required"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="layout" type="xsd:string" default="flex-column:xs-12c"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="image-button">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.ImageButton"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:choice minOccurs="1" maxOccurs="4">
                        <xsd:element name="normal-texture" type="image-button-texture"/>
                        <xsd:element name="hover-texture" type="image-button-texture"/>
                        <xsd:element name="action-texture" type="image-button-texture"/>
                        <xsd:element name="disabled-texture" type="image-button-texture"/>
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="layout" type="xsd:string"/>
                    <xsd:attribute name="atlas" type="xsd:string"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="image-button-texture">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="flip-x" type="xsd:boolean" default="false"/>
                <xsd:attribute name="flip-y" type="xsd:boolean" default="false"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:element name="label">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Label"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="text" type="xsd:string" use="required"/>
                    <xsd:attribute name="horizontal-alignment" type="horizontalAlignment" default="LEFT"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="text-box">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.TextBox"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string" use="required"/>
                    <xsd:attribute name="value" type="xsd:string"/>
                    <xsd:attribute name="password" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="layout" type="xsd:string" default="flex-column:xs-12c"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="image">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.Image"/>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ui-element">
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="responsive" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="flip-x" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="flip-y" type="xsd:boolean" default="false"/>
                    <xsd:attribute name="atlas" type="xsd:string"/>
                    <xsd:attribute name="texture-path" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="div-base" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="parent-ui-element">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="parent-ui-element" abstract="true">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.ParentUiElement"/>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ui-element">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:any namespace="##any" minOccurs="0"/>
                </xsd:choice>
                <xsd:attribute name="layout" type="xsd:string"/>
                <xsd:attribute name="overflow-clipped" type="xsd:boolean" default="false"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ui-element" abstract="true">
        <xsd:annotation>
            <xsd:documentation source="org.mini2Dx.ui.element.UiElement"/>
        </xsd:annotation>
        <xsd:attribute name="width" type="xsd:float"/>
        <xsd:attribute name="height" type="xsd:float"/>
        <xsd:attribute name="x" type="xsd:float"/>
        <xsd:attribute name="y" type="xsd:float"/>
        <xsd:attribute name="style" type="xsd:string"/>
        <xsd:attribute name="z-index" type="xsd:integer"/>
        <xsd:attribute name="visibility" type="visibility" default="VISIBLE"/>
        <xsd:attribute name="debug" type="xsd:boolean" default="false"/>
    </xsd:complexType>

    <xsd:simpleType name="visibility">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="VISIBLE"/>
            <xsd:enumeration value="HIDDEN"/>
            <xsd:enumeration value="NO_RENDER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="horizontalAlignment">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LEFT"/>
            <xsd:enumeration value="RIGHT"/>
            <xsd:enumeration value="CENTER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="flexDirection">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COLUMN"/>
            <xsd:enumeration value="COLUMN_REVERSE"/>
            <xsd:enumeration value="ROW"/>
            <xsd:enumeration value="ROW_REVERSE"/>
            <xsd:enumeration value="CENTER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zeroToOneFloat">
        <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>